  name: Run Code Check

  on: [push]

  jobs:
    check-code:
      runs-on: ubuntu-latest

      steps:
        - name: Checkout code
          uses: actions/checkout@v4

        - name: Install dependencies
          run: composer install

        - name: Run Duster
          run: composer check-code